* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    background-color: #b21616;
    font-family: Sevillana, Kreon;
    font-size: 14px;
    text-align: center;
    color: #fff;
  }
  .menu-box {
    height: 89px;
    width: 684px;
    margin: 60px auto 10px;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0px;
    bottom: 0px;
    z-index: 101;
  }
  
  .menu {
    background: #50722d;
    width: 638px;
    height: 55px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .menutext {
    text-shadow: 1px 0, 5px rgba(255, 255, 255, 0.727);
    margin: auto;
    font-size: 18px;
    font-family: kreon;
  }
  .menuicon {
    border: 10px black;
    position: absolute;
    right: 10px;
    top: -17px;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #fbff0095;
  }
  h1 {
    margin: 0;
    font-size: 72px;
  }
  h2 {
    font-size: 18px;
  }
  
  .title-container {
    /* height: 500px;
    width: 500px; */
    margin: auto;
    margin-bottom: 250px;
    /* background-image: url(../img/christmas-floral.png);
      background-size: cover;
      opacity: 0.3; */
  }
  .htitle {
    position: absolute;
    top: 200px;
    left: 45%;
    background-image: url(../bilder/christmas-floral.png);
    background-size: cover;
    opacity: 0.3;
    width: 178px;
    height: 178px;
    margin: auto;
  }
  .title {
    position: absolute;
    top: 200px;
    left: 43%;
    background-size: cover;
    /* opacity: 0.7; */
    width: 178px;
    height: 178px;
    margin: auto;
  }
  .title h3 {
    font-weight: normal;
    margin: 27px 0 7px;
    font-size: 30px;
    text-align: center;
    font-family: Sevillana;
  }
  .title h1 {
    font-weight: normal;
  }
  
  .j-box {
    margin: 0px auto 80px;
  
    width: 420px;
    height: 521px;
    background: #d10000;
    border-radius: 10px;
    border: none;
    padding: 50px 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  /* .j-krans {
    margin-top: 200px;
    opacity: 0.2;
    width: 15%;
    top: 200px;
    z-index: -1;
  } */
  
  .j-julepynt {
    position: relative;
    right: -200px;
    bottom: -170px;
    width: 187px;
    height: 225px;
  }
  
  /* .j-juletre {
    position: relative;
    right: 1080px;
    bottom: -375px;
    z-index: -1;
  } */
  
  input {
    align-items: center;
  }
  input,
  textarea {
    width: 350px;
  
    padding: 0;
    margin: 0;
    resize: none;
    font-size: 24px;
    font-family: "Kreon";
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  .j-submit {
    color: #000000;
    background: #ffcdbd;
    border: none;
    border-radius: 10px;
    width: 144px;
    padding: 5px 35px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .j-submit:hover {
    background: #50722d;
    cursor: pointer;
  }
  .j-submit:focus {
    background: #50722d;
  }
  
  footer {
    color: #fff;
    background: #50722d;
    position: relative;
    margin-top: 100px;
    font-family: "Kreon", serif;
    text-align: left;
  }
  
  div.j-columns {
    column-gap: 100px;
  }
  .j-columns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .j-column {
    margin: 15px;
  }
  
  .j-boxbilder {
    opacity: 0.7;
  }
  